header {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #efd67c;
  padding: 0.5rem;
}

header p {
  padding-left: 15rem;
  padding-right: 15rem;
  text-align: center;
  text-transform: none;
}

main h2 {
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 0.5rem;
}

main p {
  padding-bottom: 1rem;
  line-height: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main a {
  font-family: sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border-bottom: 0.3rem solid black;
  padding-bottom: 0.5rem;
}

article {
  margin: 2rem;
}

main {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'firstleft firstleft firstright firstright'
    'second second second second'
    'third third third third';
}

.firstleft {
  grid-area: firstleft;
}
